<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--<link rel="apple-touch-icon" href="icon.png">-->
        <!-- Place favicon.ico in the root directory -->

        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="vendor/bootstrap.css">
        <link rel="stylesheet" href="vendor/prism.css">
        <link rel="stylesheet" href="styles/main.css">
        

        <script src="vendor/angular.min.js"></script>
    </head>
    <body ng-app="servicenowSnippets" ng-controller="mainCtrl">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="title">
                        <h1>ServiceNow Snippets</h1>
                        <p>by Mark Miller</p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 fixed">
                    <p>Search:</p>
                    <input ng-model="term" />
                </div>
                <div class="col-md-8 offset-md-4">

                    <!--<ol>
                        <li>Service Portal Snippets</li>
                        <ol>
                            <li>Widget Snippets</li>
                            <li>CSS</li>
                            <li>Header Options</li>
                            <li>Misc</li>
                        </ol>
                        <li>Platform Snippets</li>
                        <ol>
                            <li>Server-Side</li>
                            <li>Client-Side</li>
                        </ol>
                    </ol>
                    
                    <hr/>-->

                    <div class="entries language-javascript">

                        <div class="entry" ng-repeat="e in entries | filter: term">
                            <p ng-bind="{{e.title}}">{{e.title}}</p>
                            <pre class="line-numbers"><code>{{e.code}}</code></pre>
                        </div>


                    </div>

            
                </div>
            </div>
        </div>

                        
<!--****************** SERVICE PORTAL SNIPPETS ******************
<h2>Service Portal Snippets</h2>

<h3>Widget Snippets</h3>
<h3>CSS</h3>
<h3>Header Options</h3>
<h3>Misc</h3>


<hr/>-->


<!--****************** PLATFORM SNIPPETS ******************
<h2>Platform Snippets</h2>
<h3>Server-Side</h3>
<h3>Client-Side</h3>-->




        


        <script src="vendor/jquery-3.3.1.min.js"></script>
        <script src="vendor/bootstrap.js"></script>
        <script src="vendor/prism.js"></script>
        <script src="app/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. 
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        -->
    </body>
</html>